<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="style.css">
    <title>Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div align="right">
    <table>
        <tr>
            <td align="left">Amount articles: </td>
          <td align="right" th:text="${bucket.getAmountProducts()}">#</td>

        </tr>
<!--        <tr>-->
<!--            <td>Amount products: </td>-->
<!--            <td></td>-->
<!--            <td th:text="${user_bucket.getProducts().size()}">#</td>-->
<!--        </tr>-->
        <tr>
            <td align="left">Sum: </td>
            <td align="right" th:text="${bucket.getSum()}">#</td>
    </table>
</div>

<table align="center" width="20%">
    <h6 align="center">Find products by price:</h6>
        <td>
            <form th:action="@{/products}" method="get">
                    <tr>
                        <td width="15%">
                            From:
                        </td>
                        <td>
                            <input type="number" name="startPrice" value="">
                        </td>
                        <td>

                        </td>

                        <td>
                            to:
                        </td>
                        <td>
                            <input type="number" name="endPrice" value=""><br>
                        </td>

                        <td></td>
                        <td align="right">
                            <button class="btn btn-success" type="submit">find</button>
                        </td>
                    </tr>
            </form>
        </td>
    </tr>
</table>
<br>
<span th:if="${products.size() == 0}">Products List is empty</span>
<br>
<table width="20%" align="center" th:if="${products.size() > 0}">
    <tr>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"><a class="btn btn-success" th:href="@{/products/new}">Add
            Product</a></td>
        <td><a class="btn btn-info" th:href="@{/products/filterByMin}">Filter by min price</a></td>
        <td><a class="btn btn-info" th:href="@{/products/filterByMax}">Filter by max price</a></td>
    </tr>
</table>
<br>

<table width="30%" align="center">
    <thead class="thead-dark">
    <tr>
        <td hidden>ID</td>
        <td><b>Title</b></td>
        <td><b>Price</b></td>
    </tr>
    </thead>
    <tr th:each="product : ${products}">
        <td hidden th:text="${product.id}"/>
        <td th:text="${product.title}"/>
        <td th:text="${product.price}"/>
        <td><a class="btn btn-success btn-sm" th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a>
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"><a class="btn btn-danger btn-sm"
                                                                   th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"><a class="btn btn-info btn-sm"
                                                                   th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
        </td>
    </tr>
</table>

<hr>
<div class="footer" align="center">
    <ul><b>Контактные данные:</b>
        <li class="contact_ul">0(000)000-9999</li>
        <li class="contact_ul">rybinskov@gmail.com</li>
    </ul>
    <p class="paragraph">&copy;&nbsp;Все права защищены</p>
</div>

</body>
</html>